.center{
    display: flex;
    justify-content: center;
}


.course{
    margin-top: 150px;
    margin-bottom: 100px;
}

.listCard{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.courseTittle{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.courseTittle p{
    color: #8A8A8A;
}

.courseCard{
    /* border: 2px solid #ACACAC; */
    box-shadow: 1px 1px 10px rgba(0,0,0, .3);
    width:350px;
    height: 300px;
    border-radius: 10px;
}
.courseCardImg {
    width: 100%;
    display: flex;
    justify-content: center;
}
.courseCardImg img{
    width: 95%;
    border-radius: 10px;
    margin-top: 8px;
}

.courseCardTitle{

    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    margin-top: 10px;
}

.courseCardTitleText h5{
    font-size: 15px;
}

.courseCardTitleText p{
    color: #FF7426;
    font-weight: 700;
}

.courseCardTitle img{
    width: 70px;
}

.lineDot{
    margin-top: 15px;
    width: 310px;
    height: 3px;
    border-top: 2px dotted #ACACAC;
    
}

.des{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.desIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0px 10px; */
}
.des p{
    font-size: 13px;
}
.desIcon img{
    width: 15px;
    margin-right: 5px;
}

.courseBtn{
    display: flex;
    justify-content: center;
}

.joinBtn{
    transform: translate(0px,10px);
    color: white;
    width: 130px;
    height: 34px;
    border-radius: 20px;
    background-color: #FF7426;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
}